.ColorEmpleado{
    background-color: #437f97;
}

.ColorEmpresa{

    background-color: #4d7560 ;
}

.ColorProveedor{
    background-color: #7c7b7a;
}

.ColorAdministrador{

    background-color: #3a2e39;
}